
.secTitle-container{
    padding-top: 50px;
    padding-bottom:30px
}
.section-wrapper{
    width: 100%;
    text-align: center;
    h1{
        font-size: 3.5rem;
        color: $mainBgColor;
        border-bottom: 2px solid $mainBgColor;
        font-weight: 600;
     }
}
