.service-project-wrapper{
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 5px 5px 5px #71a6f0;
    overflow: hidden;
    margin: 10px;
    .single-info-part{
        i{
          font-size: 1.5rem;
          color: goldenrod;
        }
        h1{
           font-size: 2rem;
           padding: 10px 0px;
           font-weight: bold;
           color: #71a6f0;
        }
        p{
         color: #000000d2;
        }
    }
}

.service-project-wrapper:hover{
     border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}