#hero-sec{
    background-image: url(../assets/Hero-BG.png);
    width: 100%;
    min-height: 650px;
    max-height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.test{
    outline: none;
    box-sizing: border-box;
}

.profile-wrapper{
    margin-left: 5rem;
    img{
        width: 500px;
        height: 500px;
        box-shadow: 0px 1px 18px -2px black;
        border-radius: 50%;
    }
    @media (width <= 992px) {
       text-align: center;
       margin-left: 0rem;
    }
}
.title-wrapper{
    text-align: center;
    margin-top: 3.5rem;
    span{
          font-size: 2rem;
          font-weight: 600;
          i{
            font-size: 6rem;
            color: #b1e8f7;
            text-shadow: 0px 2px 10px black;
          }
    }
    h1{
        margin-top: 25px;
        font-size: 3rem;
        color: #ffffff;
        text-shadow: 0px 2px 12px black;
     i{
       color: aqua;
     }
    }
    p{
           font-size: 1.6rem;
            color: #c1ecf8;
            text-shadow: 0px 4px 5px black; 
    }
    .hire-me{
        padding: 4px 10px;
        background-color: #c1ecf8;
        border-top-left-radius: 22px;
        border-bottom-right-radius: 22px;
        font-size: 19px;
        font-weight: bold;
    }
}
.hire-me:hover{
        font-size: 22px;
        padding: 6px 12px;
        border-top-right-radius: 22px;
        border-bottom-left-radius: 22px;
        background-color:  #c1ecf8;
        color: black;
        transition: 0.3s;
    }

    // media query writing hrer :- 
    @media (min-width: 350px) and (max-width: 992px) {
        .hire-me{
            margin-bottom: 35px !important;
        }
        .profile-wrapper{
            padding-bottom: 35px !important;
        }
   }
   @media (min-width: 350px) and (max-width: 578px){
        .profile-wrapper{
             height: 350px;
             padding-bottom: 35px !important;
        }
        .profile-wrapper img{
             height: 350px;
        } 

   }